* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Share Tech Mono", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 108px;
  position: relative;
}

:root {
  --white: #f9f8f4;
  --text-main: #242424;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 30px;
  }
}