.bestseller {
  padding: 120px 0;
  background: var(--white);
}

.bestseller__header {
  margin-bottom: 60px;
  max-width: 900px;
}

.bestseller__title {
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--text-main);
}

.bestseller__subtitle {
  font-size: 16px;
  color: #6c6c6c;
}
.bestseller__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.best-card {
  position: relative;
  height: 800px;
  overflow: hidden;
}



.best-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.best-card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60%;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
  z-index: 1;
}
.best-badge {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 120px;
  height: 60px;
  background: #1e1e1e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 3;
}


.best-icons {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  gap: 10px;
  z-index: 3;
}

.best-icons .icon-btn {
  width: 60px;
  height: 60px;
  background: white;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.best-icons .icon-btn:hover {
  background: #1e1e1e;
  color: white;
}


.best-info {
  position: absolute;
  bottom: 40px;
  left: 30px;
  z-index: 2;
  color: white;
  font-family: "Share Tech Mono", monospace;
  max-width: 80%;
  line-height: 1.4;
}

.best-info h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 25px 0;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.best-info p {
  font-size: 16px;
  margin: 0 0 8px 0;
}

.best-info .price {
  font-size: 22px;
  margin-top: 20px;
  letter-spacing: 0.6px;
}


.buy-btn {
  width: 200px;
  height: 80px;
  background: white;
  color: #1e1e1e;
  border: none;
  font-family: "Share Tech Mono", monospace;
  font-size: 18px;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.buy-btn:hover {
  background: #1e1e1e;
  color: white;
}


@media (max-width: 1000px) {
  .bestseller__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .bestseller__grid {
    grid-template-columns: 1fr;
  }
}
