.footer {
  background: var(--white);
  height: 344px;
  display: flex;
  flex-direction: column;
}

.footer__line {
  width: 100%;
  height: 2px;
  background: var(--text-main);
  margin-top: 60px;
}

.footer__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav {
  display: flex;
  gap: 100px;
}

.footer__nav a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
}


.footer__social p {
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.footer__icons {
  display: flex;
  gap: 24px;
}

.footer__icons img {
  width: 20px;
  height: 20px;
}


.footer__icons a {
  text-decoration: none;
  color: var(--text-main);
  font-size: 14px;
}
