.hero {
  position: relative;
  width: 100%;
  height: 750px;
  min-height: 600px;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-container {
  position: relative;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  padding-top: 0;
}

.hero__content-wrapper {
  padding-top: 140px;
  width: 100%;
  box-sizing: border-box;
}

.hero__content {
  color: white;
  max-width: 900px;
}

.hero__title {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1.1;
}

.hero__text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  width: 260px;
  height: 80px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 22px;
  text-align: center;
  line-height: 76px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

@media (max-width: 900px) {
  .hero {
    height: 700px;
  }

  .hero__content-wrapper {
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero__title {
    font-size: 42px;
  }

  .hero__text {
    font-size: 18px;
  }

  .btn {
    width: 220px;
    height: 70px;
    font-size: 20px;
    line-height: 66px;
  }
}